.parent {
    width: 500px;
    height: 500px;
    background-color: rgb(223, 209, 18);
    border: 1rem;
    margin: 50px auto;
    display: flex;
    /* flex-direction: row-reverse; */
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.child {
    /* flex-wrap: wrap; */
    display: flex;
    width: 200px;
    height: 200px;
    /* flex-grow: 1; */
    background-color: rgb(37, 31, 27);
    color: blue;
    border: 10px solid rgb(207, 19, 19);
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
    word-wrap: break-word;
}